<%- include('../partials/header.ejs') %>

  <%- include('../dogs/nav.ejs') %>

  <h3>All the dogs for user: <%= user.username %></h3>

  <ul>
    <% dogs.forEach((dog) => { %>
      <li>
        <a href="/dogs/<%= dog.id %>"><%= dog.name %></a>
      </li>
    <% }) %>    
  </ul>

<%- include('../partials/footer.ejs') %>